{{ 'component-about.css' | asset_url | stylesheet_tag }}

<section class="content">
    <div class="row">
        <div class="col">
            <div class="img">
                {% render 'img-about',
                    media: section.settings.media.src,
                    media_width: 600 
                %}
            </div>
        </div>
        <div class="col">
            <div class="content">
                <h2 class="title">{{ section.settings.title }}</h2>
                <p class="paragraph">
                    {{ section.settings.paragraph }}
                </p>
            </div>
        </div>
    </div>
</section>

{% schema %}
{
    "name": "About",
    "tag": "section",
    "settings": [
        {
            "type": "image_picker",
            "id": "media",
            "label": "Image"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Title"
        },
        {
            "type": "richtext",
            "id": "paragraph",
            "default": "<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>",
            "label": "Paragraph"        
        }
    ],
    "blocks": [
        {
            "type": "heading",
            "name": "Heading",
            "limit": 1,
            "settings": [
                {
                    "type": "inline_richtext",
                    "id": "heading",
                    "default": "Title",
                    "label": "Text"
                }
            ]
        },
        {
            "type": "text",
            "name": "Content",
            "limit": 1,
            "settings": [
                {
                    "type": "richtext",
                    "id": "about_paragraph",
                    "default": "<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>",
                    "label": "Text"
                }
            ]
        }
    ],
    "presets": [
        {
            "category": "About",
            "name": "About",
            "blocks": [
                {
                    "type": "heading"
                },
                {
                    "type": "text"
                }
            ]
        }
    ]
}
{% endschema %}
